*{
  font-family: Poppins;
}

body{
  display: block;
}

body h1{
  text-align: center;
}

.excitement {
  color: red;
  font-size: 1.2em;
  font-weight: bold;
}

.pokemon-list{
  margin: 1rem;
  padding: 0.4rem;
}