* {
  font-family: Futura;
}

main .row li,
main .row aside,
main .row article {
  display: grid;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0.3rem;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  padding: 10px;
  justify-content: center;
}

.pokedex-logo {
  width: 40%;
  height: 40%;
}

.row div:hover {
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  padding: 10px;
}

.row div:after {
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  padding: 10px;
}

.row span {
  position: relative;
  z-index: 2;
}

.row {
  margin-top: 1rem;
  justify-content: center;
}

.modal div {
  text-align: center;
  justify-content: center;
}

.btn {
  margin-top: 10px;
}
